html {
    background-color: bisque;
}

#navbar {
    margin: 5px;
    padding: 5px;
    background-color: rgb(182, 242, 222);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none; /* note: list-style is a property that removes the dots from the list */
}

nav a{
    padding: 5px 10px;
    border: solid 2px grey;
    margin: 10px;
    text-decoration: none;/* note: text-decoration is a property that removes the defualt underline and colour when link is pressed */
    text-align: center;
    color: darkblue;
    font-size: 20px;
}

/* note: * applies to every descendant element/ child/ grandchild element to share some style*/
#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
}

/*all h2*/
h2 {
    font-size: 30px;
}

#about-section p{
    text-align: center;
    font-size: 20px;
}
#about-section figcaption{
    color: grey;
    text-align: center;
}
/*----------------color section----------*/ 

/*whole containter will be centered and elements will be stacked on top of eachother*/
#color-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 100%;
}
/*all the color boxes will be centered and spaced evenly next to eachother*/
.colors{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly, center;
    align-content: center;

}

.colors h4{
    padding: 100px;
    margin: 60px;
    border: solid 5px black;
}

#pink:hover{
    background-color: pink;
}

#sage:hover{
    background-color: rgb(127, 172, 127);
}

#periwink:hover{
    background-color: #c1c6fc;

}

