html {
  background-color: navy;
  color: white;
}

.problem1-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid wheat;
  gap: 10px;
  padding: 15px;
}

/* form side */
.problem1-section form {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* make labels stack properly */
.block {
  display: block;
}

.display {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid wheat;
  min-height: 300px;
}


#problem2-section {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  border: 2px solid wheat;
  gap: 10px;
  padding: 15px;
    position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 9999;
  color: white;
    background-color: rgba(0, 0, 0, 0.4);

}

#clock{
  font-size: 67px;
}